# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# PHP / Web Server caches & logs
*.log
error_log
.htaccess.tmp

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
